{%extends 'fresh/goods_base.html'%}
{% block title %}天天生鲜-商品列表{% endblock title %}
{% block script %}
	<script type="text/javascript" src="/static/fresh/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="/static/fresh/js/list.js"></script>
{% endblock script %}
{% block main_con %}
<div class="breadcrumb">
		<a href="/#model01">全部分类</a>
		<span>></span>
		<a href="/list{{goodstype.id}}_/">{{goodstype.ttitle}}</a>
</div>
<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
				{% for rec in recommend %}
					<li>
						<a href="/detail{{typeId}}_{{rec.id}}/"><img src="/static/{{rec.gpic}}"></a>
						<h4><a href="/detail{{typeId}}_{{rec.id}}">{{rec.gname}}</a></h4>
						<div class="prize">￥{{rec.gprice}}</div>
					</li>
				{% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<div class="sort_bar">
				{%if page == 'list'%}
					<a href="/list{{typeId}}_/" class="active" id="list_default">默认</a>
					<a href="/listByPrice{{typeId}}_/?sec={{sec}}">价格</a>
					<a href="#" id="listByPopularity">人气</a>
				{%elif page == 'listByPrice'%}
					<a href="/list{{typeId}}_/" id="list_default">默认</a>
					<input type="text" id="match" hidden="hidden" value="{{sec}}">
					<input type="text" id="typeid" hidden="hidden" value="{{typeId}}">
					<a href="javascript:;" class="active" id="listByPrice">价格</a>
					<a href="#" id="list_popularity">人气</a>
				{%endif%}
			</div>

			<ul class="goods_type_list clearfix">
			{% for goods in list1 %}
				<li>
					<a href="/detail{{typeId}}_{{goods.id}}/"><img src="/static/{{goods.gpic}}"></a>
					<h4><a href="/detail{{typeId}}_{{goods.id}}/">{{goods.gname}}</a></h4>
					<div class="operate">
						<span class="prize">￥{{goods.gprice}}</span>
						<span class="unit">{{goods.gunit}}</span>
						<a href="/cart/" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
			{% endfor %}
			</ul>

			<div class="pagenation">
				<a href="/{{page}}{{typeId}}_{{prePageNum}}/?sec={{sec}}"><上一页</a>
				{% for p in prange %}
					{%if p == pageNum %}
						<a href="#" class="active">{{p}}</a>
					{%else%}
						<a href="/{{page}}{{typeId}}_{{p}}/?sec={{sec}}">{{p}}</a>
					{%endif%}
				{% endfor %}
				<a href="/{{page}}{{typeId}}_{{nextPageNum}}/?sec={{sec}}">下一页></a>
			</div>
		</div>
	</div>{% endblock %}